// Import page-specific CSS file
/* Reset default margin and padding */
.card-trip {
  position: relative;
  overflow: hidden;
  background: rgba(4, 4, 4, 0.86);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  overflow: hidden;
}

.card-trip:hover .card-hover-content {
  display: block;
}

.card-trip:hover img {
  opacity: 0.5;
}

.card-trip:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  display: block;
}

.card-hover-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 75px;
}

.card-trip > img {
  width: 100%;
  height: 360px;
  transition: opacity 0.3s ease;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
