<div class="text-center">
  <h1>Home Page</h1>
  <%= link_to "Home Robots", category_robots_path('home') %>
  <%= link_to "Work Robots", category_robots_path('work') %>
  <%= link_to "Fun Robots", category_robots_path('fun') %>
</div>
