<div class="text-center mt-5">
  <h2>Hello, <%= @user.first_name %> <%= @user.last_name %></h2>
  <h3 class="mt-5">My Robots</h3>
  <div class="row">
    <% @robots.each do |robot| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to robot.robot_name, robot_path(robot) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h3>My Bookings</h3>
  <ul>
    <% @user.bookings.each do |booking|%>
      <%= booking.start_date %>
    <% end %>
  </ul>
</div>
