// .background-img {
//   background-image: url('human.jpeg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   height: 100vh;
//   position: relative;
// }
// /* app/assets/stylesheets/category.scss */

// /* Style for card elements */
// .card {
//   width: 265px;
//   border: 2px solid black;
//   border-radius: 10px;
//   background-color: white;
//   margin-bottom: 20px;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
// }

// /* Style for card image */
// .card-img-left {
//   border-top-left-radius: 10px;
//   border-bottom-left-radius: 10px;
// }

// /* Style for card title */
// .card-title {
//   font-size: 5rem;
//   margin-top: 1rem;
//   color: black;
// }

// /* Style for card description */
// .card-text {
//   font-size: 1rem;
//   color: #333;
//   margin-top: 0.5rem;
// }

// /* Style for price */
// .card-price {
//   font-size: 1rem;
//   font-weight: bold;
//   color: #ff5733;
//   margin-top: 0.5rem;
// }

// .card-category:hover {
//   transform: translateY(-5px);
//   transition: transform 0.3s ease;
// }

.background-img {
 background-color: rgb(231, 229, 217);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 position: relative;
}
