// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "bootstrap"; // Import Bootstrap if needed


* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url('back4.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}


.tagline {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.sidebar {
  position: absolute;
  top: 10%; /* Adjust the vertical position */
  right: 20px; /* Adjust the distance from the right edge */
  transform: translateY(-10%);
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between elements */
  z-index: 100; /* To bring it above the background image */
}

/* Update this CSS in your stylesheet */
.sidebar-text a {
  display: block;
  font-size: 28px; /* Adjust the font size */
  color: white;
  text-align: right;
  text-decoration: none;
  transition: color 1s;
  margin-top: 10px;
}


.sidebar-text a:hover {
  color: #999; /* Grey color on hover */
}

.subcategories {
  display: none; /* Hide subcategories by default */
  margin-top: 5px; /* Adjust margin as needed */
  font-size: 25;
}

.sidebar-text:hover .subcategories {
  display: block; /* Show subcategories on hover */
}
