.container-new {
  background-color: black;
  color: white;
  background-image: url('humanoid-robot.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.booking {
text-align: center;
align-content: center;
justify-content: center;
}

/* Cool styling for the form */
.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: white;
}

.form-container input[type="submit"] {
  background-color: #007bff;
  cursor: pointer;
}

.form-container input[type="text"]:focus,
.form-container input[type="date"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.container-signup {
  background-color: black;
  color: white;
  background-image: url('3249250.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.container-login {
  background-color: black;
  color: white;
  background-image: url('3249250.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.bg-opacity-40 {
  margin-top: 170px;
}
