// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "info_window";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 85px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

body.category-page {
  .background-img {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Title h1 {
    font-size: 36px;
    color: black;
  }
}

.rounded-img{
  right: 16px;
  top: -20px;
  width: 300px;
  border-radius: 50%;
}

.footer {
  background: rgba(4, 4, 4, 0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding:6px 6px;
  color: rgba(255, 254, 254, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.15;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
h1 {
  font-family: 'Black Ops One', cursive;
}
